
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
 
}
html, body, #root .parent-container { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  
  
  
  
  
}
#canvas-container { /* This ID should be on the container element for your <Canvas> */
  width: 100vw;
  height: 100vh;
  position: fixed; /* This positions it relative to the viewport */
  
  top: 0;
  left: 0;
  z-index: 1; /* Ensures it doesn't overlap UI elements like your parameter adjustment interface */
}
.scrollable {
  overflow-y: auto; /* Show scrollbar when overlay is active */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.notScrollable
{
  overflow: hidden;
}
/* Ensure the parent of Canvas and DisplayedComponent has a relative positioning */
.parent-container {
  position: relative;
  
  
}
/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Width of the vertical scrollbar */
  height: 16px; /* Height of the horizontal scrollbar */
}

/* Customizes the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #333, #000000); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the track */
}

/* Customizes the handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0650f0, #3023ae); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the thumb */
}

/* Style for the overlay content */
.overlay-content {
  position: relative; /* Use fixed to ensure it covers the entire viewport */
  
  
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's above everything else */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  pointer-events: none; /* Start without interaction and enable when visible */
  opacity: 0; /* Start fully transparent */
  font-family: "EB Garamond", serif;
  font-weight: 400;
}


.page
{
  position: relative;

  background-color: #09192E;
  margin: 0; 
  padding: 0;
}

.page button{
  background-color: transparent;
  border: none;
}



.page button h1{
  font-family: "Pacifico", cursive;
  
  
}

.Format{
  width: 100vw;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0;
  
}

.Section
{
  justify-content: center;
  align-items: center;
  padding-left: 25vw;
  width: 100%;
  height:100vh;
}
.portfolioContainer{
  
  justify-content: center;
  text-align:center;
  
  padding-left: 0vw;
}

.aboutMe{
  padding-top: 25vh;
}
.Section b{
  color:cyan;
}



.aboutSkills
{
  display: flex;
  padding: 10px;
}
.aboutModel
{
  width: 100%;
  height: 100%;
}


