
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


html, body, #root .parent-container { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#canvas-container { /* This ID should be on the container element for your <Canvas> */
  width: 100vw;
  height: 100vh;
  position: fixed; /* This positions it relative to the viewport */
  top: 0;
  left: 0;
  z-index: 1; /* Ensures it doesn't overlap UI elements like your parameter adjustment interface */
}
/* Ensure the parent of Canvas and DisplayedComponent has a relative positioning */
.parent-container {
  position: relative;
}

/* Style for the overlay content */
.overlay-content {
  position: fixed; /* Use fixed to ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's above everything else */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  pointer-events: none; /* Start without interaction and enable when visible */
  opacity: 0; /* Start fully transparent */
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.about
{
  
  width: 100vw;
  height: 100vh;
  background-color: #09192E;
  margin: 0; 
  padding: 0;
  
}
.about button{
  background-color: transparent;
  border: none;
}
.about button h1{
  font-family: "Pacifico", cursive;
  
  
}
.aboutFormat{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0;
}
.aboutSection
{
  padding-left: 25vw;
  

}
.aboutSection b{
  color:cyan;
}
.aboutSkills
{
  display: flex;
  padding: 10px;
}
.aboutModel
{
  width: 100%;
  height: 100%;
}

