
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
 
}
html, body, #root .parent-container { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  
  
  
  
  
}
#canvas-container { /* This ID should be on the container element for your <Canvas> */
  width: 100vw;
  height: 100vh;
  position: fixed; /* This positions it relative to the viewport */
  
  top: 0;
  left: 0;
  z-index: 1; /* Ensures it doesn't overlap UI elements like your parameter adjustment interface */
}
.scrollable {
  overflow-y: auto; /* Show scrollbar when overlay is active */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.notScrollable
{
  overflow: hidden;
}
/* Ensure the parent of Canvas and DisplayedComponent has a relative positioning */
.parent-container {
  position: relative;
  
  
}
/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Width of the vertical scrollbar */
  height: 16px; /* Height of the horizontal scrollbar */
}

/* Customizes the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #333, #000000); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the track */
}

/* Customizes the handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0650f0, #3023ae); /* Example gradient */
  border-radius: 8px; /* Rounded corners for the thumb */
}

/* Style for the overlay content */
.overlay-content {
  position: relative; /* Use fixed to ensure it covers the entire viewport */
  
  
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's above everything else */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  pointer-events: none; /* Start without interaction and enable when visible */
  opacity: 0; /* Start fully transparent */
  font-family: "EB Garamond", serif;
  font-weight: 400;
}


.page
{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #09192E;
  margin: 0; 
  padding: 0;
  
}

.page button{
  background-color: transparent; 
  color: white;
  border: none;
}



.page button h1{
  font-family: "Pacifico", cursive;
  
  
}

.Format{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0;
  
}

.Section
{
  justify-content: center;
  align-items: center;
  padding-left: 25vw;
  width: 100%;
  height:100%;
}
.portfolioContainer{
  
  justify-content: center;
  text-align:center;
  
  padding-left: 0vw;
}

.aboutMe{
  padding-top: 15vh;
}
.Section b{
  color:cyan;
}
.aboutSection{
  display: flex;
  padding-right: 10vw;
  
}

.aboutSkills
{
  display: flex;
  padding: 10px;
}
.aboutLeft{
  width: 100%;
  height: 100%;
  
}
.aboutRight
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutModel
{
  width: 100%;
  height: 100%;
  padding-left:10px;
  padding-bottom: 50vh;
  display: flex;
  justify-content:flex-start;
  
  
  
}
.aboutModel img{
  
  width: 330px;
  height: 400px;
  
}
.aboutSkills{
  
  width: 100%;
  height: 100%;
}
.resumeButton
{
  text-decoration: none;

}
.resumeButton button{
  font-family: "EB Garamond", serif;
  font-size: inherit;
  background-color: rgb(7, 185, 185);
  border-radius: 5px;
}
.contactSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh;
  
  
  
}
.contactBox{
  display: flex;
  
  height: 100%;
}
.leftContactSection{
  display: block;
}
.rightContactSection{
  display: block;
  padding-left: 20px;
  width: 100%;
  
  
}
.contactTitle{
  justify-content: center;
  text-align: center;
  width: 100%;
}
.contactTitle h4{
  color: #0650f0;
  
}
.contact-container h2,
.contact-container h3 {
  color: #fff; /* Replace with actual color codes */
}
.contact-form{
  display: block;
  height: 100%;
  width: 100%;
  
  
}

.contact-form input,
.contact-form button,
.contact-form textarea {
  display: block;
  /* Styles for the form fields */
  margin-bottom: 15px;
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid;
  border-radius: 5px;
  width: 100%;
  padding-top: 30px;
  background-color: transparent;
  border-image: linear-gradient(to right, #4000ff, #011fff) 1;
  resize: none;
  
  
}
.contact-form textarea::placeholder,
.contact-form input::placeholder{
  font-family: "EB Garamond", serif;
  color: #0650f0;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: 2px solid #0650f0; 
}



.contact-form button {
  
  /* Styles for the submit button */
  background: #3023ae; 
  font-family: "EB Garamond", serif;
  
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  
  
}
.contact-form div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftContactSection div{
  padding-top: 10px;
  display: flex;

  
}

.leftContactMail{
  
  align-items: center;
  font-size: 20px;
  color: #4000ff;
 
}
.leftContactMail a {
  text-decoration: none; 
  color: inherit; 
}
.leftContactGithub{
  align-items: center;
  font-size: 20px;
  color: #4000ff;
  
}
.leftContactGithub a {
  text-decoration: none; 
  color: inherit; 
}

.leftContactImages{
  width: 35px;
  height: 35px;
  padding-right: 10px;
  
  
}


/* iphone*/
@media only screen 
  and (min-device-width: 393px) 
  and (max-device-width: 852px) { 
    .Section
    {
      justify-content: center;
      align-items: center;
      
      
      width: 100%;
      height:100%;
    }

    .Format{
      width: 100%;
      height: 100%;
      
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0; 
      padding: 0;
      
    }
    .aboutSection{
      display: block;
      padding: 0;
      
    }
    .contactBox
    {
      display: block;
    }
    .rightContactSection
    {
      padding: 0;
    }
    .aboutMe
    {
      padding: 10px;
    }
    .aboutModel img{
  
      width: 280px;
      height: 330px;
      
    }
  
}

/* ipad */
@media only screen 
  and (min-device-width: 830px) 
  and (max-device-width: 1024px) {
    .aboutSection{
      display: flex;
      padding: 20px;
      
    }
    .contactBox{
      display: flex;
  }
  .aboutModel
  {
    
    height: 100vh;
  }
  
}

/* computer */
@media (max-width: 900px)
{
  .Section
    {
      justify-content: center;
      align-items: center;
      
      
      width: 100%;
      height:100%;
    }

    .Format{
      width: 100%;
      height: 100%;
      
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0; 
      padding: 0;
      
    }
    .aboutSection{
      display: block;
      padding: 0;
      
    }
    .contactBox
    {
      display: block;
    }
    .rightContactSection
    {
      padding: 0;
    }
    .aboutMe
    {
      padding: 10px;
    }
    .aboutModel img{
  
      width: 280px;
      height: 330px;
      
    }
}