.portfolioSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates four columns */
    gap: 20px; /* This is the space between the cards */
    padding: 20px; /* Adds some padding around the grid */
    justify-items: center; /* This centers the cards in their grid cells */
    margin: 0 auto;
    max-width: 50vw;
  }
  
  .card {
    padding: 0;
    perspective: 1000px;
    width: 400px; /* Increased width */
    height: 450px; /* New height */
    margin: 0 auto; /* Center card if the column is wider */
    background-color: #000000; /* Card background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    overflow: hidden; /* Ensures no content spills out */
    
  }
  
  .card-inner {
    position: relative;
    width: 100%; /* Fill the .card container */
    height: 100%; /* Fill the .card container */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%; /* Fill the .card-inner container */
    height: 100%; /* Fill the .card-inner container */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Center align the content */
    
  }
  
  .card-front {
    background: #fff; /* Adjust if needed */
  }
  
  .card-back {
    background: #fff; /* Adjust if needed */
    transform: rotateY(180deg);
  }
  
  .is-flipped {
    transform: rotateY(180deg);
  }
  
  .card-image {
    filter: invert(33%) sepia(95%) saturate(748%) hue-rotate(183deg) brightness(90%) contrast(89%);

    width: 100px;
    height: 100px; /* Adjust the height of the image */
    object-fit: cover; /* Ensures image covers the area */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  